<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <h1>Kai Repo</h1>
  <% if logged_in? %>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="delete">

      <%= auth_token %>
    <button id='button'>Log out</button>
    <br>
    </form>

  <% else %>

    <a href="<%= new_session_url %>">Logic</a>
    <a href="<%= new_user_url %>">Signup</a>
    <br>
  <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
